<p id="notice"><%= notice %></p>

<p>
  <b>Sale date:</b>
  <%= @save_table.sale_date %>
</p>

<p>
  <b>Market type:</b>
  <%= @save_table.market_type %>
</p>

<p>
  <b>Location:</b>
  <%= @save_table.location %>
</p>

<p>
  <b>Volume:</b>
  <%= @save_table.volume %>
</p>

<p>
  <b>Unit:</b>
  <%= @save_table.unit %>
</p>

<p>
  <b>String:</b>
  <%= @save_table.string %>
</p>

<p>
  <b>Quality:</b>
  <%= @save_table.quality %>
</p>

<p>
  <b>Commodity:</b>
  <%= @save_table.commodity %>
</p>

<p>
  <b>Price received:</b>
  <%= @save_table.price_received %>
</p>

<p>
  <b>Price receiptunit:</b>
  <%= @save_table.price_receiptUnit %>
</p>


<%= link_to 'Edit', edit_save_table_path(@save_table) %> |
<%= link_to 'Back', save_tables_path %>
