<h1>Listing sale_tables</h1>

<table>
  <tr>
    <th>Farmer name</th>
    <th>Sale date</th>
    <th>Market type</th>
    <th>Location</th>
    <th>Volume</th>
    <th>Unit</th>
    <th>String</th>
    <th>Quality</th>
    <th>Commodity</th>
    <th>Price received</th>
    <th>Price receiptunit</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sale_tables.each do |sale_table| %>
  <tr>
    <td><%= sale_table.farmer_name %></td>
    <td><%= sale_table.sale_date %></td>
    <td><%= sale_table.market_type %></td>
    <td><%= sale_table.location %></td>
    <td><%= sale_table.volume %></td>
    <td><%= sale_table.unit %></td>
    <td><%= sale_table.string %></td>
    <td><%= sale_table.quality %></td>
    <td><%= sale_table.commodity %></td>
    <td><%= sale_table.price_received %></td>
    <td><%= sale_table.price_receiptUnit %></td>
    <td><%= link_to 'Show', sale_table %></td>
    <td><%= link_to 'Edit', edit_sale_table_path(sale_table) %></td>
    <td><%= link_to 'Destroy', sale_table, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sale table', new_sale_table_path %>
